/.settings/
/*.project
/deps/
/db/
/import/
/wurfl_patch/
/wurfl/
/logs/
/test/wurfler_SUITE.beam
/test/cover.spec
/test/test.spec
/test/.DS_Store
/Mnesia.lilly@*
/*.dump
/*.DS_Store
priv/.DS_Store
priv/www/.DS_Store
