{cover_enabled, true}.
{erl_opts, [debug_info]}.
{sub_dirs, ["apps/wurlferservice","rel"]}.
{deps, [
		{webmachine, ".*", {git, "git://github.com/basho/webmachine", "HEAD"}},
		{ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse", "HEAD"}},
		{erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl", "HEAD"}}
		]}.

