{cover_enabled, true}.
{erl_opts, [fail_on_warning, debug_info, warn_unused_vars, warn_unused_import, warn_exported_vars]}.
{sub_dirs, ["apps/wurlferservice","rel"]}.
{deps, [
		{webmachine, ".*", {git, "git://github.com/basho/webmachine", "HEAD"}},
		{ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse", "HEAD"}},
		{erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl", "HEAD"}}
		]}.

